.modal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(0,0,0,0.25);
    z-index: 1000;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.modal-content{
    max-width: 600px;
    padding:25px;
    border-radius:20px;
    background-color:white;
    position: relative;
}

.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    width:40px;
    height:40px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:whitesmoke;
    border-radius: 50px;
    cursor: pointer;
    color:gray;


}

.modal-desc{
    font-size:15px;
    font-weight:300;
    text-align: center;
    line-height:1.8;
    margin-bottom:30px;
}

.modal-action{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:0 20px ;
}